<!DOCTYPE html>
<html>
    
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
<link rel="stylesheet" href="style.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<style>
    .control-section {
    border: 1px;
	background-color: #eeeeee;
}
</style>
    
<body ng-app="shapeApp" ng-controller="mainController" style="padding:20px">

<h2>Web 2000 - Angular Shapes</h2>   

<h3>Total Shapes: <span ng-bind="totalShapes()"></span></h3>
    
<div class="row">
    
<div ng-app="circle" ng-controller="circleController" >
  <div class="col-sm-3">
    <label for="email">Circle</label>
    <input ng-model="radius" placeholder="Radius" id="radius_input">
    <button ng-click="addCircle()">Add Circle</button>    
    
    <h4>Circles: {{ count }}</h4>  
    <p id="circles"></p>
  </div>  
</div>
    
<div ng-app="square" ng-controller="squareController" >
    <div class="col-sm-3">
        <label for="email">Square</label>
        <input ng-model="side" placeholder="Side" id="side_input">
        <button ng-click="addSquare()">Add Square</button>    

        <h4>Squares: {{ count }}</h4>  
        <p id="squares"></p>
    </div>  
</div>
    
<div ng-app="rectangle" ng-controller="rectController" >
    <div class="col-sm-3">
        <label for="email">Rectangle</label><br>
        <input ng-model="width" placeholder="Width" id="width_input">
        <input ng-model="height" placeholder="Height" id="height_input">
        <button ng-click="addRect()">Add Rectangle</button>    

        <h4>Rectangles: {{ count }}</h4>  
        <p id="rects"></p>
    </div>  
</div>
    
<div ng-app="triangle" ng-controller="triController" >
    <div class="col-sm-3">
        <label for="email">Triangle</label><br>
        <input ng-model="side1" placeholder="side1" id="side1_input">
        <input ng-model="side2" placeholder="side2" id="side2_input">
        <button ng-click="addTri()">Add Triangle</button>    

        <h4>Triangles: {{ count }}</h4>  
        <p id="tris"></p>
    </div>  
</div>

</div>



    


<script src="script.js"></script>
</body>
</html>
